.App {
  text-align: center;
  background: rgb(242, 149, 98);
  background: linear-gradient(90deg, rgba(242, 149, 98, 1) 0%, rgba(243, 82, 87, 1) 100%);
}

:root {
  --white: #FFFFFF;
  --gray: #D9D9D9;
  --black: #171717;
  --lime: #E1FFC1;
  --emerald: #6EE7C4;
  --orange: #F29562;
  --red: #F35257;

  --shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(105, 145, 91, 0.04) 0px 10px 10px -5px;

  --roboto: 'Roboto', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.sl-title {
  font-family: var(--roboto);
  font-weight: 500;
  letter-spacing: 1.5px;
  font-size: 21px;
}

.md-title {
  font-family: var(--roboto);
  font-weight: 500;
  letter-spacing: 1.5px;
  font-size: 28px;
}

.lg-title {
  user-select: none;

  font-family: var(--roboto);
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 52px;
}

.regular {
  font-family: var(--roboto);
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 18px;
}

.small {
  font-family: var(--roboto);
  font-weight: 200;
  letter-spacing: 3px;
  font-size: 16px;
}

.black {
  color: var(--black)
}

.white {
  color: var(--white);
}

.section {
  display: flex;
  flex-direction: row;
}