@import '../../App.css';

.form-wrapper{
    position: fixed;
    right: 45px;
    display: flex;
    flex-direction: column;

    background-color: var(--white);
    box-shadow: var(--shadow);
    border-radius: 8px;

    width: 350px;
    padding: 30px 20px;
}

.order-container{
    display: flex;
    flex-direction: column;

    padding: 30px 20px;
}

.price-wrapper{
    width: 100px;
}

.input-field {
    all: unset;
    font-family: var(--roboto);
    font-weight: 300;

    border: var(--gray) 1px solid;
    background-color: var(--white);
    border-radius: 16px;
    padding: 10px;
    padding-left: 15px;
    margin-bottom: 15px;

    text-align: left;
}

.gap{
    margin-bottom: 30px;
}

.form-title{
    display: inline-flex;

    font-family: var(--roboto);
    letter-spacing: 1px;
    padding-left: 15px;
}

.error-msg{
    color: var(--red);
    font-family: var(--roboto);
    font-weight: 300;
    font-size: 14px;
}