@import '../App.css';

.cart{
    display: flex;
    flex-direction: row;

    padding-top: 30px;
    background-color: var(--white);

    min-height: 80vh;
}


.order-container{
    display: flex;
    justify-content: center;
}

.text-wrapper{
    color: var(--gray);
    padding-left: 150px;
    padding-bottom: 100px;

    user-select: none;
}