@import '../App.css';

.cart{
    display: flex;
    flex-direction: row;

    padding-top: 30px;
    background-color: var(--white);

    min-height: 80vh;
}


.order-container{
    display: flex;
    justify-content: center;
}

.text-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray);
    background-color: var(--white);
    height: 80vh;
    user-select: none;
}

.detail-container{
    display: flex;
    justify-content: right;
    padding-top: 10px;
    padding-right: 30px;
}