@import '../../App.css';

.order-wrapper {
    display: flex;
    flex-direction: row;
    user-select: none;

    padding-bottom: 30px;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;

    padding: 30px 20px;
}

.text-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    word-wrap: wrap;

    width: 100px;
}

.utilities-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

.amount-wrapper {
    display: flex;
    flex-direction: row;

    gap: 20px;
}

.amount-wrapper p {
    padding-top: 10px;
}

.space {
    width: 20px;
}

.pizza-preview {
    height: 150px;
    width: 150x;
}

.remove-icon {
    font-family: var(--roboto);
    color: var(--red);
    font-size: 25px;
    font-weight: 500;   

    cursor: pointer;
}